**/pom.xml
**/target/
**/.DS_Store
password.txt
/Lab4Part1/dist/
/Lab4Part1/build/
/Lab4Part1/nbproject
/Lab4Part1/test/
**/build.xml
/Lab4Part2/dist/
/Lab4Part2/build/
/Lab4Part2/nbproject
/Lab4Part2/test/
/Lab5/dist/
/Lab5/build/
/Lab5/nbproject
/Lab5/test/